local Check = Instance.new("LocalScript",entereutton)

Check.MouseButton1Dwonn:Connect(function()
	local key = script.Parent.TextBox.Text
	local userId = game:GetService("Players").LocalPlayer.UserId
	local Url = "https://raw.githubusercontent.com/TheDevastation/Index.lua/main/index"..key.."&user="..userId
	local enterbutton = script.Parent.TextButton

		if game:HttpGet(Url) == "~ True ~" then
			
			wait(1)
			loadstring(game:HttpGet("https://pastebin.com/raw/GFr3MJ7f"))()
			print("Access granted")
		else	
			enterbutton.Text = "~ Not whitelisted ~"
	end
end)

